.paiement-page {
  background-color: #fdf7f3;
  min-height: 100vh;
  font-family: 'Cormorant Garamond', serif;
  color: #2d2b2b;
}

.paiement-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fdf7f3;
  border-radius: 16px;
 
}

.paiement-container h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  color: #2d2b2b;
}

.paiement-container p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 1rem;
}

.paiement-container p[style*="color: red"] {
  color: #b94a48;
}

.paiement-container p[style*="color: green"] {
  color: #27ae60;
}

.paiement-container form div {
  margin-bottom: 25px;
}

.paiement-container label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 15px;
  background-color: #fdf7f3;
}

.paiement-container input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #fdf7f3;
  font-size: 16px;
  color: #2d2b2b;
  transition: border-color 0.3s;
}
.paiement-container div{
  background-color: transparent;
}
.paiement-container input:focus {
  border-bottom: 1px solid #b8977e;
  outline: none;
}

.paiement-container button {
  width: 100%;
  padding: 15px;
  background-color: #3b241c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paiement-container button:hover {
  background-color: #a4816c;
}
/* paiement.css */
/* Personnalisation des notifications */
.Toastify__toast-container {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Toastify__toast {
  font-family: 'Cormorant Garamond', serif !important;
  font-size: 16px !important;
  padding: 15px 20px !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  color: white !important;
}

.Toastify__toast--success {
  background-color: #a4816c !important; /* Vert doux */
  color: #fff !important;
}

.Toastify__toast--error {
  background-color: #a4816c !important; /* Rouge doux */
  color: #fff !important;
}

.Toastify__toast--info {
  background-color: #a4816c !important; /* Bleu info */
  color: #fff !important;
}

.Toastify__toast--warning {
  background-color: #a4816c !important; /* Jaune avertissement */
  color: #fff !important;
}
