@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  margin-top:30px ;
}

.register-box {
  display: flex;
  width: 100%;
  max-width: 1250px;
  height: 93vh;
  background-color: #f9f9f9;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: hidden;
}

.register-form {
  flex: 1;
  padding: 60px 50px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}


.npt{
  background-color: #fafafa;
}
.frm{
  background-color: transparent;
}
.input-field {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  box-shadow: none;
  appearance: none;
  display: block;
  border-radius: 4px;
  transition: border 0.2s ease;
}


.register-btn {
  width: 100%;
  padding: 14px;
  background-color: #3D2920;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #333;
}


.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  background-color: transparent;
}

.login-link a {
  color: #000;
  text-decoration: underline;
  margin-left: 5px;
  background-color: transparent;
}

/* --- Right side --- */
.register-image-section {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  color: white;
  overflow: hidden; /* Empêche la vidéo de dépasser */
}

.register-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* En arrière-plan */
}

/* Pour mettre ton contenu par-dessus la vidéo */
.register-image-section .content {
  position: relative;
  z-index: 1;
}


.testimonial {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.testimonial-author {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #ddd;
}
.input-field:focus {
  background-color: #fafafa; /* même fond qu’au repos */
  border: 1px solid #aaa; /* ou ce que tu veux comme bordure */
  outline: none; /* retire le contour bleu par défaut */
  box-shadow: none; /* désactive le glow bleu sur Chrome */
}
.error-message {
  color: red;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  background-color: #ffe0e0;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}